# ================== Project Specific ==================
# 非常にサイズが大きいデータフォルダをすべて無視します
# これが最も重要な設定です
data/

# --------ALL REUNION/

# VS Codeのワークスペース設定を無視します
.vscode/


# ================== Python / Jupyter ==================
# Pythonのキャッシュファイル
__pycache__/
*.pyc

# Jupyter Notebookのチェックポイント（将来的に使う可能性のため）
.ipynb_checkpoints/


# ================== Office Temporary Files ==================
# Excelなどを開いたときに自動生成される一時ファイルを無視
~$*.xlsm
~$*.xlsx


# ================== Environment Files ==================
# APIキーなどの秘密情報を保存する.envファイルを無視
*.env

# ================== venv ==================
# 間違えて作ったvenvを無視
.venv/

# ================== logs ==================
echo "logs/" >> .gitignore